/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #0D0D0D;
    color: #FFFFFF;

    background-image: url("Resources/fondo.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;

    font-family: 'Montserrat', sans-serif;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;

    padding-left: 6vw;
}

/* CONTENEDOR DEL HERO */
.hero-content {
    position: relative;
}

/* TITULO PRINCIPAL */
h1 {
    font-weight: 500;
    font-style: italic;

    font-size: clamp(3rem, 10vw, 16rem);
    line-height: 1.1;
}

/* IMAGEN ANCLADA AL H1 */
.hero-image {
    position: absolute;

    top: 86%;
    left: -8%;

    width: clamp(300px, 50vw, 900px);

    pointer-events: none; 
}

/* ABOUT */
.about {
    display: flex;
    justify-content: flex-end; 
    
    padding: 10vh 5vw 10vh 10vw; 
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: flex-end;
  }

  .about-text {
    max-width: 100%;
  }
}

/* TEXTO */
.about-text {
    max-width: 800px;
}

.about-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: right;
    font-size: clamp(2rem, 6vw, 4rem);
    margin-bottom: 0.5rem;
    margin-top: clamp(2rem, 6vh, 8rem);
}

.about-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: right;
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    color: #ccc;
    margin-bottom: 1.5rem;
}

.about-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2.5vw, 1.7rem);
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #aaa;
}

.about-text strong {
    font-weight: 400;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  gap: 0.2rem;
  padding: 20vh 0vw; 

  flex-wrap: wrap; 
}

.card {
  position: relative;

  width: clamp(260px, 80vw, 520px);
  aspect-ratio: 520 / 820;

  flex-shrink: 0; 

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.habilidades {
  background-image: url("Resources/cuadriculado_izquierda.png");
}

.educacion {
  background-image: url("Resources/cuadriculado_centro.png");
}

.idiomas {
  background-image: url("Resources/cuadriculado_derecha.png");
}

.card-content {
  position: absolute;

  top: 18%;
  left: 12%;
  right: 12%;

  color: #000;
}

.card-content h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  margin-bottom: 1rem;
}

.card-content ul {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  font-size: clamp(0.9rem, 2.5vw, 1.6rem);
  line-height: 1.5;
  padding-left: 2rem;
}

.leaf {
  position: absolute;
  pointer-events: none; 
}

.leaf-hab {
  width: 50%;
  top: 0%;
  right: -20%;

}

.leaf-idiomas {
  width: 150%;  
  bottom: -30%;
  left: -50%;

}

@media (max-width: 768px) {
  .leaf-hab {
    width: 40%;
    top: 0%;
    right: -10%;
  }

  .leaf-idiomas {
    width: 110%;
    bottom: -10%;
    left: -20%;
  }
}
